<h1>Registrar Usuario</h1>

<form id="form">
    <div class="d-flex">
        <div class="col">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese Nombre" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese Apellido"
                    required>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="col">
            <div class="form-group">
                <label for="documento">Documento</label>
                <input type="text" class="form-control" id="documento" name="documento" placeholder="Ingrese Documento"
                    required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese Email" required>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="col">
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Ingrese Contraseña" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="confirmPassword">Repetir Contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Repita Contraseña" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="tipoDocumento">Tipo de Documento</label>
                <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
                    <option value="">Seleccione un tipo de documento</option>
                    <option *ngFor="let tipoDocumento of lstTiposDocumento" [value]="tipoDocumento.tid_id">{{
                        tipoDocumento.tid_name }}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="rol">Rol</label>
                <select class="form-control" id="rol" name="rol" required>
                    <option value="">Seleccione un rol</option>
                    <option *ngFor="let rol of lstRoles" [value]="rol.rol_id">{{ rol.rol_name }}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado" name="estado" required>
                    <option value="">Seleccione un estado</option>
                    <option *ngFor="let estado of lstEstados" [value]="estado.est_id">{{ estado.est_name }}</option>
                </select>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
</form>