<div class="container">
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <label for="usu_email">Email:</label>
        <input type="email" class="form-control" id="usu_email" name="usu_email">
      </div>
      <div class="form-group">
        <label for="usu_password">Password:</label>
        <input type="password" class="form-control" id="usu_password" name="usu_password">
      </div>
      <button type="button" class="btn btn-primary" (click)="login()">Login</button>
    </form>
  </div>